{% load static %}

<footer>
    <!--Social media icons-->
    <a href="" target="_blank" rel="noopener" aria-label="Instagram - opens in a new tab">
        <img src="{% static 'icons/instagram-color-icon.svg' %}" class="social-icon" alt="Instagram Icon" />
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Facebook - opens in a new tab">
        <img src="{% static 'icons/facebook-app-icon.svg' %}" class="social-icon" alt="Facebook Icon" />
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="GitHub - opens in a new tab">
        <img src="{% static 'icons/github-icon.svg' %}" class="social-icon" alt="Github Icon" />
    </a>

</footer>