{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">  

    <div class="container fluid">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-12 pt-5">
          <h3 class="section-title">Love to Hear From You</h3>
        </div>
      </div>
      <div class="row">
        <!-- Section Titile -->
        <p> Our blog is a place where you can find reviews of book novelties for children of all ages. Our mission is to encourage children and parents to read. We are open to your suggestions and happy to cooperate with our Star Readers.</p>
      </div>
      <!-- contact form -->
      <div class="text-secondary">
        <form id="contact-form" method="post"> {% csrf_token %} {{ form|crispy }}
          <!-- Form Submit -->
          <button id="submitForm" class="btn btn-signup btn-warning">Send</button>
        </form>
      </div>
    </div>


{% endblock %}