{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/52490d5333.js" crossorigin="anonymous"></script>
    <meta name="keywords" content="kids, ireland, children, book, reading, reviews, popular">

    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/base.css' %}"/>
    {% endblock %}

    {% block onload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js" integrity="sha512-fHY2UiQlipUq0dEabSM4s+phmn+bcxSYzXP4vAXItBvBHU7zAM/mkhCZjtBEIJexhOMzZbgFlPLuErlJF2b+0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}

    <title>Star Readers - {% block title %}{% endblock %}</title>
</head>

<tile>The Star Readers</tile>


{% block content %} 
<div class="card img-fluid">
    <img src="{% static 'images/hero.png' %}" class="card-img" style="width:100%; height:100%" alt="boy reading a book in a spaseman costume" />
    <div class="card-img-overlay">
        <div class="text-light welcome">
            <h1> Add your own Star to the book's reviews! </h1> 
            {% if user.is_authenticated %} 
            <h2 class="welcome">Welcome, {{ user }}! <i class="far fa-star"></i></h2>
            {% else %} 
            <h3>To add your Star, please</h3>
            <a class="btn btn-signup" href="{% url 'account_login' %}">Login</a>
            <a class="btn btn-signup" href="{% url 'account_signup' %}">Sign Up </a> 
            {% endif %}
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for post in post_list%}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top"
                                src="">
                            {% else %}
                            <img class="card-img-top" src=" {{ post.featured_image.url }}">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Author: {{ post.author }}</p>
                            </div>
                        </div>
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.excerpt }}</p>
                        </a>
                        <hr />
                        <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-star"></i>
                            {{ post.number_of_likes }}</p>
                        <br/>   
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}