@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto:wght@100;400;500&display=swap');

:root {
    /* Fonts */
    --title: 'Kalam', serif;
    --main-font: 'Roboto', serif;

    /* Colours */
    --background: #eec043;
    --off-white: #f6f6f6;

    /* Utils */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;

}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
    color: #56376d;
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

button.btn.btn-signup.right {
    background-color:#eec043;
    color: #56376d;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}


/* Header */

.navbar-brand {
    font-family: 'Roboto';
    color: #56376d;
    letter-spacing: 0.1rem;
    font-weight: bolder;
}

.navbar-brand:hover {
    color:#eec043;
}

.navbar {
    background-color: var(--white);
    box-shadow: var(--small-box-shadow);
}

/* Footer */

footer{
    flex-shrink: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}


/* Hero Image call to action text */

.img-fluid {
    opacity: 0.8;
}

.card-img-overlay {
    position: absolute;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--bs-card-img-overlay-padding);
    border-radius: var(--bs-card-inner-border-radius);
}

.welcome {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 25px;
}

text-light.h1 {
    color:#56376d
}


a.btn.btn-signup {
    background-color:#eec143;
    color:rgb(86, 55, 109);
}


.welcome a:hover {
    background-color:white;
    color:#56376d;
    font-weight: 700;
}
.card-text {
    font-weight: 600;
}

/* Blog Card */

.post-link {
    color:#56376d;
}

i.far.fa-star::before {
color:#eec143;
}

/* Contact Us Form */

#submitForm.btn {
   margin-top: 2rem;
}

